body {
    font-family: monospace;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.input-section {
    text-align: center;
    margin-bottom: 10px;
}

#lang_code, #json_file, #lang_submit {
    margin: 5px;
    height: 24px;
    padding: 0px;
}

.textarea-section {
    display: flex;
    flex: 1; /* 占据剩余空间 */
    height: calc(100% - 50px); /* 假设输入部分高度为50px */
    padding-bottom: 10px; /* 底部内边距 */
}

#enjson, #newjson {
    flex: 1;
    margin: 5px;
    padding: 10px;
    resize: none; /* 禁止调整大小 */
    height: 100%; /* 填充父元素高度 */
    box-sizing: border-box; /* 包括内边距在内的高度 */
}
